html {
    scroll-behavior: smooth;
}
body {

background:
linear-gradient(
rgba(10,10,12,0.80),
rgba(10,10,12,0.92)
),
url("assets/background.jpg");

background-size: cover;
background-attachment: fixed;

color:#e8e2dd;

font-family: Arial, sans-serif;

margin:0;

line-height:1.7;

}



nav {

position:fixed;

top:0;

width:100%;

padding:20px;

background:rgba(0,0,0,0.5);

text-align:center;

}



nav a {

color:#d7b0b8;

text-decoration:none;

margin:20px;

font-size:16px;

}



nav a:hover {

color:white;

}



.hero {

text-align:center;

padding:180px 20px 120px;

}



h1 {

font-family: Georgia, serif;

font-size:70px;

letter-spacing:5px;

}



h2 {

color:#b9828f;

font-weight:normal;

}



section {

max-width:900px;

margin:80px auto;

padding:20px;

}



.button {

display:inline-block;

margin-top:30px;

padding:12px 30px;

border:1px solid #b9828f;

color:#e8e2dd;

text-decoration:none;

}



.button:hover {

background:#6b1f2b;

}



.projects {

display:flex;

gap:30px;

flex-wrap:wrap;

}



.card {

background:#151519;

border:1px solid #333;

padding:25px;

width:250px;

}



.card:hover {

border-color:#b9828f;

}
body::before {

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
radial-gradient(
circle,
transparent 20%,
rgba(255,255,255,0.03)
);

pointer-events:none;

}

.symbol {

font-size:40px;

color:#b9828f;

margin-bottom:20px;

}


.hero p {

max-width:600px;

margin:20px auto;

}



.card span {

display:block;

margin-top:20px;

font-size:14px;

color:#b9828f;

letter-spacing:1px;

}



.card h3 {

font-family:Georgia, serif;

font-size:26px;

}
